<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link {{#if NavActiveCad}} active {{/if}} " aria-current="page">Cadastrar Usuários</a></li>
        <li class="nav-item"><a href="/users" class="nav-link {{#if NavActiveUsers}} active {{/if}}" >Listar Usuários</a></li>
        
      </ul>
    </header>